{% extends "admin/layoutAdm.njk" %}

{% block title %}
<title>Foodfy Administrador</title>
{% endblock title %}

{% block main %}
   <div class="cards">
      {% for recipe in recipes %}
      <div class="card" id="{{loop.index0}}">
            <div class="recipeImage">
               <img src="{{recipe.image}}" alt="{{recipe.title}}">
            </div>
            <div class="cardInfo">
               <div class="recipeName">
               <p>{{recipe.title}}</p>
            </div>
            <div class="recipeAuthor">
               <p>{{recipe.author}}</p>
            </div>
            <div class="cardLinK">
               <a href="/admin/recipes/{{loop.index0}}">Visualizar</a>
            </div>
            </div>
      </div>
      {% endfor %}
   </div>
{% endblock main %}