<!DOCTYPE html>
<html lang="pt-BR">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    {%block title%}
    <title>Foodfy</title>
    {%endblock title%}
</head>



<body>

    <header>
        <div class="logo">
            <a href="/">
                <img src="/logo.png" alt="Foodfy">
            </a>
        </div>
        <div class="menu">
            {% block menu %}
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            {% endblock menu %}
        </div>
    </header>

    {%block body%}
    {%endblock body%}

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/headerScript.js"></script>

</body>



</html>