@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background: #FFFFFF;
    --mainBG: #FBDFDB;
    --footerBG: #EEEEEE;
    --textZero: #000000;
    --textOne: #111111;
    --textFour: #444444;
    --textSeven: #777777;
    --textNine: #999999;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 940px;
    margin: 0 auto;
    color: var(--textOne);
    height: 93px;
    text-align: left;
    display: flex;
    align-items: center;
}

header .logo {
    width: 213px;
}

header .menu {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    gap: 30px;
}

header .menu a {
    text-decoration: none;
    color: var(--textOne);
}

header .menu a.active {
    font-weight: bold;
}

section {
    max-width: 940px;
    margin: 0 auto;
}

section .main {
    width: 100%;
    height: 366px;
    background: var(--mainBG);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section .main .mainLeft {
    margin: 0 60px;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    position: relative;
}

section .main .mainLeft div {
    position: relative;
}

section .main .mainLeft div h1 {
    color: var(--textOne);
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

section .main .mainLeft p {
    color: var(--textZero);
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

section .main .chef {
    position: relative;
}

section .main .chef img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

section .topRecipes {
    margin: 50px 0 0;
}

section .topRecipes h2 {
    color: var(--textOne);
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

section .cards {
    margin: 20px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

section .topRecipes .cards .card:hover {
    cursor: auto;
}

section .cards .card:hover {
    cursor: pointer;
}

section .cards .card .recipeImage img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

section .cards .card .recipeName {
    color: var(--textOne);
    font-size: 18px;
    line-height: 21px;
    padding-top: 20px;
    text-align: left;
}

section .cards .card .recipeAuthor {
    color: var(--textSeven);
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}

section.about {
    text-align: left;
}

section.about h2{
    color: var(--textOne);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

section.about h3{
    margin-top: 30px;
    color: var(--textOne);
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

section.about p {
    margin-top: 20px;
    color: var(--textFour);
    font-size: 18px;
    line-height: 28px;
}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.modalOverlay.active {
    opacity: 1;
    visibility: visible;
}

.modalOverlay.active .modal {
    background: var(--background);
    width: 660px;
    border-radius: 16px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.modalOverlay.active .modal img {
    width: 100%;
    border-radius: 15px;
}

.modalOverlay.active .modal p.name {
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
    color: var(--textOne);
}

.modalOverlay.active .modal p.author {
    margin-top: 5px;
    font-size: 18px;
    line-height: 21px;
    color: var(--textSeven);
}

.modalOverlay.active .modal .closeModal {
    margin-top: 60px;
    font-size: 16px;
    line-height: 19px;
    color: var(--textNine);
}

.modalOverlay.active .modal .closeModal p {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.modalOverlay.active .modal .closeModal p:hover {
    cursor: pointer;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 62px;
    background: var(--footerBG);
    color: var(--textNine);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

footer p {
    margin: 23px auto;
}