@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background: #FFFFFF;
    --border: #BFBFBF;
    --mainBG: #FBDFDB;
    --footerBG: #EEEEEE;
    --textZero: #000000;
    --textOne: #111111;
    --textFour: #444444;
    --textSeven: #777777;
    --textNine: #999999;
    --textLink: #6558C3;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    position: relative;
    min-height: 100vh;
}

header {
    max-width: 940px;
    margin: 0 auto;
    color: var(--textOne);
    height: 10vh;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    align-items: center;
}

header .menu {
    margin-right: 15%;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    gap: 30px;
}

header .menu a {
    text-decoration: none;
    color: var(--textOne);
}

header .menu a.active {
    font-weight: bold;
}

header form {
    display: flex;
    gap: 2%;
}

header form input {
    width: 246px;
    height: 37px;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

header form input::placeholder {
    font-size: 14px;
    font-weight: initial;
    height: 37px;
    color: var(--textNine);
}

header form button {
    width: 91px;
    height: 37px;
    background-color: var(--textLink);
    color: var(--background);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.7px;
    line-height: 19px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

section {
    max-width: 940px;
    margin: 2vh auto auto;
    padding-bottom: 90px; 
}

section .main {
    width: 100%;
    height: 366px;
    background: var(--mainBG);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section .main .mainLeft {
    margin: 0 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
}

section .main .mainLeft div h1 {
    color: var(--textOne);
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
}

section .main .mainLeft p {
    color: var(--textZero);
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

section .main .chef {
    position: relative;
}

section .main .chef img {
    position: absolute;
    bottom: 0;
    right: 100px;
}

section .topRecipes {
    margin: 50px 0 0;
}

section .topRecipes h2 {
    color: var(--textOne);
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

section .cards,
section .chefCards {
    margin: 20px 0 10px;
    display: grid;
    gap: 20px;
}

section .cards {
    grid-template-columns: 1fr 1fr 1fr;
}

section .chefCards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

section .chefCards .card {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 25px;
    align-items: center;
}

section .chefCards .card .chefImg {
   width: 64px;
   height: 64px;
   object-fit: cover;
   border-radius: 8.57px;
}

section .chefCards .card img {
   width: 64px;
   height: 64px;
   object-fit: cover;
   border: 1px solid var(--border);
   border-radius: 50%;
}

section .topRecipes .cards .card:hover {
    cursor: auto;
}

section .cards .card:hover {
    cursor: pointer;
}

section .cards .card .recipeImage img {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
}

.chefName,
section .cards .card .recipeName {
    color: var(--textOne);
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

section .cards .card .recipeName {
    padding-top: 20px;
}

.chefAuthor,
section .cards .card .recipeAuthor {
    color: var(--textSeven);
    font-size: 14px;
    line-height: 16px;
    padding-top: 5px;
    text-align: left;
}

section.about {
    text-align: left;
}

section.about h2{
    color: var(--textOne);
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

section.about h3{
    margin-top: 30px;
    color: var(--textOne);
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}

section.about p {
    margin-top: 20px;
    color: var(--textFour);
    font-size: 18px;
    line-height: 28px;
}

.recipeMain img {
    width: 940px;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
}

.recipeMain h1 {
    margin-top: 50px;
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    color: var(--textOne);
    text-align: center;
}

.recipeMain p {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
    color: var(--textSeven);
    text-align: center;
}

.recipeMain h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: var(--textOne);
    text-align: left;
}

.recipeMain span {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: var(--textNine);
}

.recipeMenu {
    margin-top: 40px;
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.recipeMain .recipeStep p,
.recipeMain .recipeStep ul {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
    color: var(--textFour);
    text-align: left;
    list-style-position: inside;
}

.recipeMain .recipeStep.mode {
    visibility: visible;
}

.recipeMain .recipeStep.mode.hide {
    visibility: hidden;
    height: 0;
}

footer {
    width: 100%;
    height: 62px;
    background: var(--footerBG);
    color: var(--textNine);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 23px auto;
}

.notFound {
    text-align: center;
    padding: 50px;
    background-color: var(--textLink);
    color: var(--footerBG);
}

/*  PAGINATION  */

.pagination {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.pagination a {
    text-decoration: none;
    color: var(--textLink);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.pagination a:hover,
.pagination a.active {
    filter: brightness(0.5);
}