{% extends "admin/layoutAdm.njk" %}

{%block title%}
<title>Foodfy Administrador - {{recipe.title}}</title>
{%endblock title%}

{% block admTitle %}
    <div class="title">
        <h1>Receita: {{recipe.title}}</h1>
        <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
    </div>
{% endblock admTitle %}

{%block main%}
    <div class="recipeMain">
        <img src="{{recipe.image}}" alt="{{recipe.title}}">
        <h1>{{recipe.title}}</h1>
        <p>por {{recipe.name}}</p>
        <div>
            <h2>Ingredientes</h2>
        </div>
        <div class="recipeStep">
            <ul>
                {% for ingredient in recipe.ingredients %}
                <p>- {{ingredient}}</p>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Modo de preparo</h2>
        </div>
        <div class="recipeStep">
            {% for step in recipe.preparation %}
            <p>- {{step}}</p>
            {% endfor %}
        </div>
        {% if recipe.information %}
        <div>
            <h2>Informações adicionais</h2>
        </div>
        <div class="recipeStep">
            <p>{{recipe.information | striptags(true) | escape | nl2br}}</p>
        </div>
        {% endif %}
    </div>
{%endblock main%}