{% extends "layout.njk" %}

{%block title%}
<title>Foodfy</title>
{%endblock%}

{% block form %}
    <form action="/filteredRecipes" method="get">
        <input 
            type="text"
            name="filter"
            placeholder="Buscar uma receita"
        >
        <button type="submit">
            Buscar
        </button>
    </form>
{% endblock form %}

{%block body%}
<section>
    <div class="main">
        <div class="mainLeft">
            <div>
                <h1>As melhores receitas</h1>
            </div>
            <div>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
            </div>
        </div>
        <div class="chef">
            <img src="/chef.png" alt="Chef">
        </div>
    </div>
    <div class="topRecipes">
        <h2>Mais acessadas</h2>
        <div class="cards">
            {% for recipe in recipes.slice(0, 6) %}
            <div class="card">
                <div class="recipeImage">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="recipeName">
                    <p>{{recipe.title}}</p>
                </div>
                <div class="recipeAuthor">
                    <p>por {{recipe.name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{%endblock%}